<div class="m-2 card">
    <div onclick={clickpost({{postdata.post.id}})} class="card-header">
        <h2 class="is-size-4">{{postdata.post.post_title}}</h2>
        <div class="navbar-end">
            <a onclick={clickpost({{postdata.post.id}})} href="#" class="button is-primary">Go To Post</a>
        </div>
        
    </div>
    <div class="card-content">
        <p>{{postdata.post.post_content}}</p>
    </div>
    <div class="card-content ">
        <p>{{postdata.post.username}} {{postdata.post.post_date}}</p>
       
    </div>
    <div class="card-content">

        {{#each postdata.comments as |comment|}}
        <div class="m-2 card comcard">
            <div class="card-header comcard">
                <p>{{comment.username}} {{comment.comment_date}}</p>
                
            </div>
            <div class="card-content">
                <p>{{comment.comment_content}}</p>
            </div>
        </div>
        {{/each}}
        
    </div>
    
    <div class="is-centered">
        <input id={{postdata.post.id}} class="input" type="text" placeholder="Comment">
        <button data={{postdata.post.id}} data-user={{postdata.post.post_userid}} class="button combut is-primary">Submit</button>
    </div>
    
    

</div>