<div class="m-2 card">
    <div class="card-header">
        <h2 class="is-size-4">{{postdata.post.post_title}}</h2>
        
    </div>
    <div class="card-content">
        <p>{{postdata.post.post_content}}</p>
    </div>
    <div class="card-content ">
        <p>{{postdata.post.username}} {{postdata.post.post_date}}</p>
       
    </div>
    <div class="card-content">

        {{#each postdata.comments as |comment|}}
        <div class="m-2 card comcard">
            <div class="card-header comcard">
                <p>{{comment.username}} {{comment.comment_date}}</p>
                
            </div>
            <div class="card-content">
                <p>{{comment.comment_content}}</p>
            </div>
        </div>
        {{/each}}
        
    </div>
    
    
    

</div>