<div class="m-2 card">
    <div class="card-header">
        <h2 class="is-size-4">{{postdata.post.post_title}}</h2>
        
    </div>
    <div class="card-content">
        <p>{{postdata.post.post_content}}</p>
    </div>
    <div class="card-content ">
        <p>{{postdata.post.username}} {{postdata.post.post_date}}</p>
       
    </div>
    <div class="card-content">

        {{#each postdata.comments as |comment|}}
        <div class="m-2 card comcard">
            <div class="card-header comcard">
                <p>{{comment.username}} {{comment.comment_date}}</p>
                
            </div>
            <div class="card-content">
                <p>{{comment.comment_content}}</p>
            </div>
        </div>
        {{/each}}
        
    </div>
    
    <div class="is-centered">
        <input id={{postdata.post.id}} class="input" type="text" placeholder="Comment">
        <button data={{postdata.post.id}} data-user={{postdata.post.post_userid}} class="button combut is-primary">Submit</button>
    </div>
    
    <script src="/home.js"></script>
    

</div>
{{#if postdata.post.post_mine }}
<div class="m-2 card">
    <input type="text" class="input" placeholder="Update Title" id="titleinp">
    <input type="text" class="input" placeholder="Update Content" id="contentinp">
    <button data={{postdata.post.id}} class="button is-primary" id="updatebut">Update</button>
    <button class="button is-danger" id="deletebut">Delete</button>
    <script src="/onepost.js"></script>
</div>
{{/if}}